Repository wndhydrnt/saturn-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate, completion

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  always_run: false
  pass_filenames: false

completion:
  name: Generate completion scripts
  entry: make generate_completion
  language: system
  pass_filenames: false

chore: Set up dependency upgrades via renovate
  renovate.json
Due: none

chore(main): release 0.29.0
  .release-please-manifest.json
  CHANGELOG.md
  deploy/docker-compose/docker-compose.yml
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

rework; add arch doc
  architecture/plugin.md
  pkg/plugin/plugin.go
Due: none

pass logger as arg; add tests
  pkg/plugin/plugin.go
  pkg/plugin/plugin_test.go
  pkg/task/task.go
Due: none

feat(plugin): Support levels in messages logged by a plugin (#210)
  architecture/plugin.md
  pkg/plugin/plugin.go
  pkg/plugin/plugin_test.go
  pkg/task/task.go
Due: none

chore(main): release 0.29.0 (#193)
  .release-please-manifest.json
  CHANGELOG.md
  deploy/docker-compose/docker-compose.yml
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

run go mod tidy
  go.mod
  go.sum
  tools/go.sum
Due: none

run go generate
  test/mock/host/pullrequestcache.gen.go
Due: none

use symlinks to reference files
  .gitignore
  docs/schemas/config.schema.json
  docs/schemas/openapi.yaml
  docs/schemas/task.schema.json
Due: go-generate

remve manual copy
  .readthedocs.yaml
Due: none

run go mod tidy; run go generate; update one type
  pkg/config/schema.gen.go
  pkg/task/schema/schema.gen.go
  pkg/task/task.go
  tools/go.mod
  tools/go.sum
Due: none

replace unavailable types
  pkg/command/run_test.go
  pkg/server/integration/github_test.go
  pkg/task/task.go
Due: none

update completion scripts
  completion/saturn-bot.bash
Due: none

use BasicMergeRequest everywhere
  pkg/host/gitlab.go
  pkg/host/gitlab_test.go
Due: none

update checksums
  tools/go.sum
Due: none

run go generate
  pkg/client/openapi.gen.go
  pkg/server/api/openapi/server.gen.go
  tools/go.mod
  tools/go.sum
Due: none

chore(main): release 0.29.1
  .release-please-manifest.json
  CHANGELOG.md
  deploy/docker-compose/docker-compose.yml
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

retry clone
  pkg/git/git.go
Due: none

chore(dependencies): Use GitHub client v74
  go.mod
  go.sum
  pkg/host/github.go
  pkg/host/github_test.go
  pkg/server/api/github.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
Due: none

fix(config): Use v2 of koanf env provider
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/config_test.go
Due: none

use v6 of github.com/santhosh-tekuri/jsonschema
  cmd/root.go
  go.mod
  go.sum
  pkg/config/config.go
  pkg/task/schema/validation.go
Due: go-generate, completion

chore: Make renovate execute go mod tidy
  renovate.json
Due: none

chore: Make renovate ignore updates of Docker images
  renovate.json
Due: none

chore(main): release 0.29.1 (#212)
  .release-please-manifest.json
  CHANGELOG.md
  deploy/docker-compose/docker-compose.yml
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

chore(main): release 0.29.2
  .release-please-manifest.json
  CHANGELOG.md
  deploy/docker-compose/docker-compose.yml
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

add metric sb_server_task_run_success
  pkg/server/integration/integration_test.go
  pkg/server/integration/metrics_test.go
  pkg/server/integration/shutdown_test.go
  pkg/server/integration/sync_test.go
  pkg/server/metrics/collector.go
  pkg/server/metrics/metrics.go
  pkg/server/server.go
  pkg/task/schema/schema.gen.go
  pkg/task/schema/task.schema.json
Due: go-generate

add docs
  docs/operation_guides/metrics.md
  docs/reference/task/index.md
  pkg/server/metrics/collector.go
Due: none

add an example
  docs/reference/task/index.md
Due: none

work around flaky test
  pkg/server/integration/metrics_test.go
Due: none

change metric name
  docs/operation_guides/metrics.md
  pkg/server/integration/metrics_test.go
  pkg/server/metrics/collector.go
Due: none

feat(server): Export metric that indicates if the last run of a task was successful (#252)
  docs/operation_guides/metrics.md
  docs/reference/task/index.md
  pkg/server/integration/integration_test.go
  pkg/server/integration/metrics_test.go
  pkg/server/integration/shutdown_test.go
  pkg/server/integration/sync_test.go
  pkg/server/metrics/collector.go
  pkg/server/metrics/metrics.go
  pkg/server/server.go
  pkg/task/schema/schema.gen.go
  pkg/task/schema/task.schema.json
Due: go-generate

upgrade to Go 1.24
  .github/workflows/go-generate.yaml
  .github/workflows/go-unit-tests.yaml
  Dockerfile
  go.mod
Due: none

remove tools module
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: none

use go tool command
  generate.go
  go.mod
  go.sum
  pkg/client/generate.go
  pkg/config/generate.go
  pkg/processor/processor.go
  pkg/server/api/openapi/generate.go
  pkg/task/schema/generate.go
  test/mock/git/generate.go
  test/mock/host/generate.go
  test/mock/plugin/generate.go
  test/mock/processor/generate.go
Due: none

add constraint
  renovate.json
Due: none

fix(dependencies): Upgrade to Go 1.24.x (#253)
  .github/workflows/go-generate.yaml
  .github/workflows/go-unit-tests.yaml
  Dockerfile
  generate.go
  go.mod
  go.sum
  pkg/client/generate.go
  pkg/config/generate.go
  pkg/processor/processor.go
  pkg/server/api/openapi/generate.go
  pkg/task/schema/generate.go
  renovate.json
  test/mock/git/generate.go
  test/mock/host/generate.go
  test/mock/plugin/generate.go
  test/mock/processor/generate.go
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: none

chore(main): release 0.30.0
  .release-please-manifest.json
  CHANGELOG.md
  deploy/docker-compose/docker-compose.yml
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

Path conditions:
  go-generate: any of: ^.*\.schema\.json|pkg/server/api/openapi/openapi\.yaml|cmd/.*\.go$
  completion: any of: ^cmd/.*\.go$
