Repository wndhydrnt/saturn-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate, completion

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
    - id: go-generate
      name: go generate
      files: ^.*\.schema\.json|pkg/server/api/openapi/openapi\.yaml|cmd/.*\.go$
      entry: go generate ./...
      language: system
      always_run: false
      pass_filenames: false
    - id: completion
      name: Generate completion scripts
      entry: make generate_completion
      language: system
      files: ^cmd/.*\.go$
      pass_filenames: false

add actions block
  pkg/server/ui/templates/base.html
  pkg/server/ui/templates/task-get-results.html
Due: none

update ui
  pkg/server/api/apiserver.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/run.go
  pkg/server/api/task.go
  pkg/server/api/work.go
  pkg/server/error/client.go
  pkg/server/integration/run_test.go
  pkg/server/integration/task_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/sync.go
  pkg/server/service/taskservice.go
  pkg/server/service/workerservice.go
  pkg/server/ui/error.go
  pkg/server/ui/run.go
  pkg/server/ui/task.go
  pkg/server/ui/templates/error.html
  pkg/server/ui/templates/task-run-new.html
  pkg/server/ui/ui.go
  pkg/task/schema/task.schema.json
  pkg/task/task.go
  pkg/worker/client/openapi.gen.go
Due: go-generate

add code docs
  pkg/server/error/client.go
Due: none

add code docs
  pkg/server/ui/task.go
Due: none

chore: Reduce Python dependencies
  .python-version
  CONTRIBUTING.md
  docs/requirements.txt
Due: none

feat(server/ui): Schedule run via the UI (#148)
  pkg/server/api/apiserver.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/run.go
  pkg/server/api/task.go
  pkg/server/api/work.go
  pkg/server/error/client.go
  pkg/server/integration/run_test.go
  pkg/server/integration/sync_test.go
  pkg/server/integration/task_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/sync.go
  pkg/server/service/taskservice.go
  pkg/server/service/workerservice.go
  pkg/server/ui/error.go
  pkg/server/ui/run.go
  pkg/server/ui/task.go
  pkg/server/ui/templates/base.html
  pkg/server/ui/templates/error.html
  pkg/server/ui/templates/task-get-results.html
  pkg/server/ui/templates/task-run-new.html
  pkg/server/ui/ui.go
  pkg/task/schema/schema.gen.go
  pkg/task/schema/task.schema.json
  pkg/task/task.go
  pkg/worker/client/openapi.gen.go
Due: go-generate

chore(main): release 0.20.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

chore: Upgrade to Go 1.23.6
  Dockerfile
Due: none

chore: Turn off CGO
  Dockerfile
Due: none

chore(main): release 0.20.0 (#143)
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

add pushToDefaultBranch
  docs/task/index.md
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/processor/processor.go
  pkg/processor/processor_test.go
  pkg/processor/result_string.go
  pkg/task/schema/schema.gen.go
  pkg/task/schema/task.schema.json
  test/mock/git/git.gen.go
Due: go-generate

change wording
  pkg/processor/processor.go
Due: none

feat(task): Add option to push to the default branch of a repository (#149)
  docs/task/index.md
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/processor/processor.go
  pkg/processor/processor_test.go
  pkg/processor/result_string.go
  pkg/task/schema/schema.gen.go
  pkg/task/schema/task.schema.json
  test/mock/git/git.gen.go
Due: go-generate

report pushed result state to the api
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/db/model.go
  pkg/server/integration/task_test.go
  pkg/server/integration/taskresult_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
  pkg/server/ui/run.go
  pkg/server/ui/task.go
  pkg/server/ui/templates.go
  pkg/worker/client/openapi.gen.go
  pkg/worker/worker.go
Due: go-generate

feat(worker): Report result state "pushed" to the API (#151)
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/db/model.go
  pkg/server/integration/task_test.go
  pkg/server/integration/taskresult_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
  pkg/server/ui/run.go
  pkg/server/ui/task.go
  pkg/server/ui/templates.go
  pkg/worker/client/openapi.gen.go
  pkg/worker/worker.go
Due: go-generate

retry http requests to github
  go.mod
  go.sum
  pkg/host/github.go
Due: none

custom retry logic
  pkg/host/github.go
Due: none

feat(host): Retry HTTP requests to GitHub (#152)
  go.mod
  go.sum
  pkg/host/github.go
Due: none

fix(server): Pagination on broken for API operation "listTaskRecentTaskResultsV1"
  pkg/server/integration/task_test.go
  pkg/server/service/taskservice.go
Due: none

refactor: Show ID of run in list of runs
  pkg/server/ui/templates/run-list.html
Due: none

refactor: Show error of run on top of run detail view
  pkg/server/ui/templates/run-get.html
Due: none

fix(worker): Error message contains object instead of string
  pkg/worker/worker.go
Due: none

feat(worker): Add /info endpoint
  pkg/worker/http.go
  pkg/worker/worker.go
Due: none

feat(server): Add status information to the UI
  pkg/server/ui/status_index.go
  pkg/server/ui/templates/base.html
  pkg/server/ui/templates/status_index.html
  pkg/server/ui/ui.go
  pkg/version/version.go
  pkg/worker/http.go
Due: none

delete a run
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/run.go
  pkg/server/error/client.go
  pkg/server/integration/run_test.go
  pkg/server/service/workerservice.go
  pkg/server/ui/run.go
  pkg/server/ui/runs_destroy.go
  pkg/server/ui/runs_show.go
  pkg/server/ui/templates/runs_show.html
  pkg/server/ui/ui.go
  pkg/worker/client/openapi.gen.go
Due: go-generate

better description
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

add func docs
  pkg/server/api/run.go
  pkg/server/error/client.go
  pkg/server/service/workerservice.go
  pkg/server/ui/runs_destroy.go
Due: none

feat(server): Delete a run (#153)
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/run.go
  pkg/server/error/client.go
  pkg/server/integration/run_test.go
  pkg/server/service/workerservice.go
  pkg/server/ui/run.go
  pkg/server/ui/runs_destroy.go
  pkg/server/ui/runs_show.go
  pkg/server/ui/templates/runs_show.html
  pkg/server/ui/ui.go
  pkg/worker/client/openapi.gen.go
Due: go-generate

chore(main): release 0.21.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

make commands available
  cmd/experimental.go
  cmd/root.go
  cmd/sever.go
  cmd/worker.go
Due: go-generate, completion

add command docs
  docs/commands/server.md
  docs/commands/worker.md
Due: none

add configuration to docs
  docs/configuration.md
  pkg/config/config.schema.json
  pkg/config/schema.gen.go
Due: go-generate

change metric names
  pkg/server/metrics/metrics.go
  pkg/worker/metrics.go
Due: none

fix cmd generate command
  generate.go
Due: none

update default test
  pkg/config/config_test.go
Due: none

chore(main): release 0.21.0 (#150)
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

fix(server): Wrong page total when a filter for task results is set
  pkg/server/service/taskservice.go
Due: none

fix(server): Use preformatted text element to display error message
  pkg/server/ui/templates/runs_show.html
Due: none

chore(main): release 0.21.1
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none
