Repository wndhydrnt/saturn-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdox, json-schema, openapi-generate, completion

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
    - id: mdox
      name: Check command documentation
      entry: make mdox
      language: system
      files: ^cmd/.*\.go$
      pass_filenames: false
    - id: json-schema
      name: Generate JSON schemas
      files: ^.*\.schema\.json$
      entry: make generate_go
      language: system
      always_run: false
      pass_filenames: false
    - id: openapi-generate
      name: OpenAPI
      files: ^pkg/server/api/openapi/openapi\.yaml$
      entry: make generate_openapi
      language: system
      always_run: false
      pass_filenames: false
    - id: completion
      name: Generate completion scripts
      entry: make generate_completion
      language: system
      files: ^cmd/.*\.go$
      pass_filenames: false

feat: Set up shell completion
  .pre-commit-config.yaml
  Makefile
  completion/README.md
  completion/saturn-bot.bash
  completion/saturn-bot.zsh
Due: none

chore(main): release 0.15.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

respect gitlab squash + delete branch settings
  pkg/host/gitlab.go
  pkg/host/gitlab_test.go
Due: none

feat(host): Support "Squash commits" and "Delete source branch" settings of GitLab project (#97)
  pkg/host/gitlab.go
  pkg/host/gitlab_test.go
Due: none

change name of setting
  pkg/config/config.schema.json
  pkg/config/schema.go
  pkg/options/options.go
Due: json-schema

update docs; func comments
  docs/configuration.md
  pkg/host/github.go
  pkg/metrics/http.go
Due: none

optimize code
  docs/operations/metrics.md
  pkg/command/run.go
  pkg/command/run_test.go
  pkg/metrics/http.go
  pkg/metrics/run.go
  pkg/options/options.go
Due: none

better wording
  pkg/command/run_test.go
Due: none

register metrics in worker
  pkg/worker/metrics.go
Due: none

feat(command): Run command sends metrics to Prometheus Pushgateway (#98)
  docs/configuration.md
  docs/operations/metrics.md
  go.mod
  go.sum
  pkg/command/run.go
  pkg/command/run_test.go
  pkg/config/config.schema.json
  pkg/config/schema.go
  pkg/host/github.go
  pkg/host/gitlab.go
  pkg/metrics/http.go
  pkg/metrics/metrics.go
  pkg/metrics/run.go
  pkg/options/options.go
  pkg/worker/metrics.go
Due: json-schema

add metrics git
  docs/operations/metrics.md
  pkg/git/git.go
  pkg/metrics/git.go
  pkg/metrics/metrics.go
Due: none

feat(git): Add metrics to track number and duration of git commands (#99)
  docs/operations/metrics.md
  pkg/git/git.go
  pkg/metrics/git.go
  pkg/metrics/metrics.go
Due: none

max length of branch name
  Makefile
  docs/task/index.md
  pkg/task/schema/schema.go
  pkg/task/schema/task.schema.json
  pkg/task/task.go
Due: json-schema

feat(task): Ensure that branch name does not exceed length (#100)
  Makefile
  docs/task/index.md
  pkg/task/schema/schema.go
  pkg/task/schema/task.schema.json
  pkg/task/task.go
Due: json-schema

commit current state
  go.mod
  go.sum
  pkg/server/api/github.go
  pkg/server/api/task.go
  pkg/server/api/work.go
  pkg/server/db/model.go
  pkg/server/server.go
  pkg/server/service/taskservice.go
  pkg/server/service/webhook.go
  pkg/server/service/workerservice.go
  pkg/server/task/task.go
  pkg/task/schema/read.go
  pkg/task/schema/schema.go
  pkg/task/schema/task.schema.json
  pkg/task/task.go
  pkg/worker/worker.go
Due: json-schema

add filter jq
  docs/task/filters/jq.md
  go.mod
  go.sum
  pkg/filter/filter.go
  pkg/filter/jq.go
  pkg/filter/jq_test.go
  pkg/task/task_test.go
Due: none

fix doc comment
  pkg/filter/jq.go
Due: none

feat(filter): Add jq filter (#101)
  docs/task/filters/jq.md
  go.mod
  go.sum
  pkg/filter/filter.go
  pkg/filter/jq.go
  pkg/filter/jq_test.go
  pkg/task/task_test.go
Due: none

remove filter jsonpath
  docs/task/filters/jsonpath.md
  pkg/filter/filter.go
  pkg/filter/jsonpath.go
  pkg/filter/jsonpath_test.go
  pkg/task/task_test.go
Due: none

feat(filter)!: Remove filter jsonpath (#102)
  docs/task/filters/jsonpath.md
  pkg/filter/filter.go
  pkg/filter/jsonpath.go
  pkg/filter/jsonpath_test.go
  pkg/task/task_test.go
Due: none

chore(main): release 0.15.0 (#96)
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

pass logger via context
  pkg/command/processormock_test.go
  pkg/command/run.go
  pkg/command/run_test.go
  pkg/context/context.go
  pkg/processor/processor.go
  pkg/processor/processor_test.go
Due: none

update schema
  pkg/task/schema/schema.go
  pkg/task/schema/task.schema.json
Due: json-schema

read and write inputs
  pkg/task/task.go
Due: none

set inputs as part of try command
  pkg/command/try.go
Due: none

add inputs to try command
  cmd/try.go
  docs/commands/try.md
  pkg/command/try.go
  pkg/command/try_test.go
Due: mdox, completion

add inputs to run command
  cmd/run.go
  docs/commands/run.md
  pkg/command/run.go
  pkg/command/run_test.go
  pkg/worker/worker.go
Due: mdox, completion

initialize http client
  pkg/host/gitlab.go
Due: none

fix(host): Do not time out if rate-limiting of GitLab API is active (#103)
  pkg/host/gitlab.go
Due: none

chore(main): release 0.15.1
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

chore(main): release 0.15.1 (#104)
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

pass in secret
  pkg/config/config.schema.json
  pkg/config/schema.go
  pkg/server/server.go
Due: json-schema

test github webhook
  Makefile
  go.mod
  go.sum
  pkg/server/api/github.go
  pkg/server/api/openapi/model_get_work_v1_response.go
  pkg/server/api/openapi/model_schedule_run_v1_request.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/work.go
  pkg/server/db/model.go
  pkg/server/integration/github_test.go
  pkg/server/integration/integration_test.go
  pkg/server/integration/task_test.go
  pkg/server/server.go
  pkg/server/service/webhook.go
  pkg/server/service/workerservice.go
  pkg/worker/client/model_get_work_v1_response.go
  pkg/worker/client/model_schedule_run_v1_request.go
  pkg/worker/worker.go
Due: openapi-generate

fix panic due to double metric registration
  go.mod
  go.sum
  pkg/options/options.go
  pkg/server/integration/integration_test.go
  pkg/server/server.go
Due: none

test task not found
  Makefile
  pkg/server/integration/task_test.go
Due: none

do not offload to goroutine
  pkg/server/api/github.go
Due: none

fix lint error
  pkg/server/integration/integration_test.go
Due: none

init metrics in Start()
  pkg/server/metrics/metrics.go
  pkg/server/server.go
Due: none
