Repository wndhydrnt/saturn-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdox, json-schema, openapi-generate, completion

mdox:
  name: Check command documentation
  entry: make mdox
  language: system
  pass_filenames: false

json-schema:
  name: Generate JSON schemas
  entry: make generate_go
  language: system
  always_run: false
  pass_filenames: false

openapi-generate:
  name: OpenAPI
  entry: make generate_openapi
  language: system
  always_run: false
  pass_filenames: false

completion:
  name: Generate completion scripts
  entry: make generate_completion
  language: system
  pass_filenames: false

fix lint issue
  pkg/processor/processor.go
Due: none

list runs of a task
  pkg/clock/clock.go
  pkg/options/options.go
  pkg/server/api/api.go
  pkg/server/api/apiserver.go
  pkg/server/api/error.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/api/work.go
  pkg/server/integration/integration_test.go
  pkg/server/integration/task_test.go
  pkg/server/server.go
  pkg/server/service/listoptions.go
  pkg/server/service/taskservice.go
  pkg/server/service/webhook.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

list runs
  pkg/server/api/api.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/api/work.go
  pkg/server/integration/task_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

add git attributes file
  .gitattributes
Due: none

fix lint issue
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/work.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

log listening address
  pkg/server/server.go
Due: none

add code docs
  pkg/clock/clock.go
  pkg/options/options.go
Due: none

feat(server): Inspect upcoming and past runs via an endpoint (#114)
  .gitattributes
  pkg/clock/clock.go
  pkg/options/options.go
  pkg/server/api/api.go
  pkg/server/api/apiserver.go
  pkg/server/api/error.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/work.go
  pkg/server/integration/integration_test.go
  pkg/server/integration/task_test.go
  pkg/server/integration/work_test.go
  pkg/server/server.go
  pkg/server/service/listoptions.go
  pkg/server/service/taskservice.go
  pkg/server/service/webhook.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

delay a recieved webhook
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/integration_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/webhook.go
  pkg/server/service/workerservice.go
  pkg/task/schema/schema.go
  pkg/task/schema/task.schema.json
Due: json-schema

feat(server): Delay execution of a task when a webhook is received (#115)
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/integration_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/webhook.go
  pkg/server/service/workerservice.go
  pkg/task/schema/schema.go
  pkg/task/schema/task.schema.json
Due: json-schema

fix skipped runs
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
Due: none

fix(server): Runs skipped when more than one Task is registered (#116)
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
Due: none

fix(server): Wrong run reason "manual" when task changed on disk
  pkg/server/service/taskservice.go
Due: none

feat(server): Add total number of items to pagination responses
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/work.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/work_test.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

refactor(server): Use WorkerService to schedule runs during task DB sync
  pkg/server/server.go
  pkg/server/service/taskservice.go
Due: none

add docs
  docs/features/templating.md
  docs/task/inputs.md
Due: none

fix template var access
  docs/features/templating.md
  docs/task/inputs.md
Due: none

feat(task): Inputs (#107)
  cmd/run.go
  cmd/try.go
  docs/commands/run.md
  docs/commands/try.md
  docs/features/templating.md
  docs/task/.pages
  docs/task/index.md
  docs/task/inputs.md
  pkg/command/processormock_test.go
  pkg/command/run.go
  pkg/command/run_test.go
  pkg/command/try.go
  pkg/command/try_test.go
  pkg/context/context.go
  pkg/plugin/plugin.go
  pkg/plugin/plugin_test.go
  pkg/processor/processor.go
  pkg/processor/processor_test.go
  pkg/task/schema/schema.go
  pkg/task/schema/task.schema.json
  pkg/task/task.go
  pkg/task/task_test.go
  pkg/worker/worker.go
Due: mdox, json-schema, completion

recreate pr if closed
  pkg/processor/processor.go
  pkg/processor/processor_test.go
Due: none

fix(processor): Pull request not recreated if closed (#117)
  pkg/processor/processor.go
  pkg/processor/processor_test.go
Due: none

chore(main): release 0.16.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

chore(main): release 0.16.0 (#106)
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

build: Upgrade to Go 1.23
  .github/workflows/docs-check.yaml
  .github/workflows/go-generate.yaml
  .github/workflows/go-unit-tests.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/release-binaries.yaml
  Dockerfile
  go.mod
Due: none

refactor(server): Better default configuration of sqlite database
  .gitignore
  pkg/server/db/db.go
Due: none

commit state
  pkg/context/context.go
  pkg/processor/processor.go
  pkg/processor/processor_test.go
  pkg/server/api/apiserver.go
  pkg/server/api/error.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/api/work.go
  pkg/server/db/model.go
  pkg/server/db/types.go
  pkg/server/error/client.go
  pkg/server/error/server.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/task_test.go
  pkg/server/server.go
  pkg/server/service/sync.go
  pkg/server/service/taskservice.go
  pkg/server/service/webhook.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
  pkg/worker/worker.go
Due: openapi-generate

fix unit test
  pkg/server/integration/gitlab_test.go
  pkg/server/service/workerservice.go
Due: none

add integration tests
  pkg/server/integration/work_test.go
Due: none

feat(action): Add stdout/stderr to error of actions "exec" and "script"
  pkg/action/exec.go
  pkg/action/script.go
Due: none

chore(main): release 0.17.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

add actions
  pkg/filter/filter.go
  pkg/filter/gitlabcodesearch.go
Due: none

commit current state
  pkg/filter/filter.go
  pkg/filter/gitlabcodesearch.go
  pkg/filter/jq.go
  pkg/filter/xpath.go
  pkg/host/github.go
  pkg/host/gitlab.go
  pkg/host/host.go
Due: none

chore(main): release 0.17.0 (#119)
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

implement code search
  pkg/command/hostmock_test.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/gitlabcodesearch.go
  pkg/filter/gitlabcodesearch_test.go
  pkg/filter/hostmock_test.go
  pkg/git/hostmock_test.go
  pkg/host/gitlab.go
  pkg/params/params.go
  pkg/plugin/hostmock_test.go
  pkg/processor/hostmock_test.go
  pkg/task/hostmock_test.go
  pkg/task/task.go
  pkg/task/task_test.go
Due: none

add func docs
  pkg/filter/gitlabcodesearch.go
  pkg/host/gitlab.go
Due: none

deps: Switch to gitlab.com/gitlab-org/api/client-go
  go.mod
  go.sum
  pkg/host/gitlab.go
  pkg/host/gitlab_test.go
  pkg/server/api/gitlab.go
  pkg/server/integration/gitlab_test.go
Due: none

add docs
  docs/task/filters/gitlabCodeSearch.md
Due: none

add func docs
  pkg/filter/filter.go
  pkg/filter/gitlabcodesearch.go
  pkg/host/github.go
  pkg/host/gitlab.go
  pkg/host/host.go
Due: none

chore: Fix failing tests after upgrade of GitLab client library
  pkg/host/gitlab.go
Due: none

feat(filter): New filter "gitlabCodeSearch" (#120)
  docs/task/filters/gitlabCodeSearch.md
  pkg/command/hostmock_test.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/gitlabcodesearch.go
  pkg/filter/gitlabcodesearch_test.go
  pkg/filter/hostmock_test.go
  pkg/filter/jq.go
  pkg/filter/xpath.go
  pkg/git/hostmock_test.go
  pkg/host/github.go
  pkg/host/gitlab.go
  pkg/host/host.go
  pkg/params/params.go
  pkg/plugin/hostmock_test.go
  pkg/processor/hostmock_test.go
  pkg/task/hostmock_test.go
  pkg/task/task.go
  pkg/task/task_test.go
Due: none

Path conditions:
  mdox: any of: ^cmd/.*\.go$
  json-schema: any of: ^.*\.schema\.json$
  openapi-generate: any of: ^pkg/server/api/openapi/openapi\.yaml$
  completion: any of: ^cmd/.*\.go$
