Repository wndhydrnt/saturn-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdox, json-schema, openapi-generate, completion

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
    - id: mdox
      name: Check command documentation
      entry: make mdox
      language: system
      files: ^cmd/.*\.go$
      pass_filenames: false
    - id: json-schema
      name: Generate JSON schemas
      files: ^.*\.schema\.json$
      entry: make generate_go
      language: system
      always_run: false
      pass_filenames: false
    - id: openapi-generate
      name: OpenAPI
      files: ^pkg/server/api/openapi/openapi\.yaml$
      entry: make generate_openapi
      language: system
      always_run: false
      pass_filenames: false
    - id: completion
      name: Generate completion scripts
      entry: make generate_completion
      language: system
      files: ^cmd/.*\.go$
      pass_filenames: false

add func docs
  pkg/server/db/types.go
  pkg/server/error/client.go
  pkg/server/service/sync.go
Due: none

add run data to work
  pkg/server/api/work.go
  pkg/server/integration/work_test.go
  pkg/server/server.go
Due: none

feat(server): Support inputs of a task (#118)
  pkg/context/context.go
  pkg/processor/processor.go
  pkg/processor/processor_test.go
  pkg/server/api/apiserver.go
  pkg/server/api/error.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/api/work.go
  pkg/server/db/model.go
  pkg/server/db/types.go
  pkg/server/error/client.go
  pkg/server/error/server.go
  pkg/server/integration/task_test.go
  pkg/server/integration/work_test.go
  pkg/server/server.go
  pkg/server/service/sync.go
  pkg/server/service/taskservice.go
  pkg/server/service/webhook.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
  pkg/worker/worker.go
Due: openapi-generate

add cron trigger; work for one task only
  go.mod
  go.sum
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/api/work.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/taskservice.go
  pkg/server/service/workerservice.go
  pkg/task/schema/schema.go
  pkg/task/schema/task.schema.json
  pkg/worker/client/openapi.gen.go
  pkg/worker/worker.go
Due: json-schema, openapi-generate

filter runs by status
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/work.go
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

properly schedule new cron on changed task
  pkg/server/db/model.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/integration_test.go
  pkg/server/integration/sync_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/sync.go
  pkg/server/service/taskservice.go
  pkg/server/service/workerservice.go
  pkg/task/schema/task.schema.json
  pkg/task/schema/validation.go
Due: json-schema

rename func
  pkg/server/service/sync.go
Due: none

remove interface
  pkg/server/service/taskservice.go
Due: none

fix ci issue
  pkg/server/integration/sync_test.go
Due: none

update after review
  pkg/server/service/taskservice.go
  pkg/server/service/workerservice.go
Due: none

simplify scheduling
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
Due: none

more func docs
  pkg/server/service/workerservice.go
Due: none

rework error message
  pkg/command/hostmock_test.go
  pkg/command/run.go
  pkg/command/run_test.go
  pkg/command/try.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/filter/hostmock_test.go
  pkg/git/hostmock_test.go
  pkg/host/host.go
  pkg/plugin/hostmock_test.go
  pkg/processor/hostmock_test.go
  pkg/task/hostmock_test.go
Due: none

refactor(host): Unify code that creates a repository from a name (#123)
  pkg/command/hostmock_test.go
  pkg/command/run.go
  pkg/command/run_test.go
  pkg/command/try.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/filter/hostmock_test.go
  pkg/git/hostmock_test.go
  pkg/host/host.go
  pkg/plugin/hostmock_test.go
  pkg/processor/hostmock_test.go
  pkg/task/hostmock_test.go
Due: none

better scheduling calculation
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
Due: none

feat(server): Trigger task via cron expression (#122)
  go.mod
  go.sum
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/api/work.go
  pkg/server/db/model.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/integration_test.go
  pkg/server/integration/sync_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/sync.go
  pkg/server/service/taskservice.go
  pkg/server/service/workerservice.go
  pkg/task/schema/schema.go
  pkg/task/schema/task.schema.json
  pkg/task/schema/validation.go
  pkg/worker/client/openapi.gen.go
  pkg/worker/worker.go
Due: json-schema, openapi-generate

chore(main): release 0.18.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

add ui
  go.mod
  go.sum
  pkg/config/config.schema.json
  pkg/config/schema.go
  pkg/server/api/apiserver.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/run.go
  pkg/server/api/work.go
  pkg/server/error/client.go
  pkg/server/server.go
  pkg/server/service/workerservice.go
  pkg/server/ui/assets.go
  pkg/server/ui/assets/css/bulma.css.map
  pkg/server/ui/assets/css/bulma.min.css
  pkg/server/ui/assets/js/funcs.js
  pkg/server/ui/error.go
  pkg/server/ui/home.go
  pkg/server/ui/run.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/base.html
  pkg/server/ui/templates/error.html
  pkg/server/ui/templates/home.html
  pkg/server/ui/templates/run-get.html
  pkg/server/ui/templates/run-list.html
  pkg/server/ui/ui.go
  pkg/worker/client/openapi.gen.go
Due: json-schema, openapi-generate

fix test
  pkg/config/config_test.go
Due: none

fix type shadow
  pkg/server/ui/assets/js/funcs.js
Due: none

use tags to indicate run status
  pkg/server/ui/templates.go
  pkg/server/ui/templates/home.html
  pkg/server/ui/templates/run-list.html
Due: none

add integration test
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/integration/run_test.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

add func docs; make tpl data private
  pkg/server/api/run.go
  pkg/server/service/workerservice.go
  pkg/server/ui/home.go
  pkg/server/ui/run.go
  pkg/server/ui/ui.go
Due: none

feat(server): Serve a UI (#124)
  go.mod
  go.sum
  pkg/config/config.schema.json
  pkg/config/config_test.go
  pkg/config/schema.go
  pkg/server/api/apiserver.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/run.go
  pkg/server/api/work.go
  pkg/server/error/client.go
  pkg/server/integration/run_test.go
  pkg/server/server.go
  pkg/server/service/workerservice.go
  pkg/server/ui/assets.go
  pkg/server/ui/assets/css/bulma.css.map
  pkg/server/ui/assets/css/bulma.min.css
  pkg/server/ui/assets/js/funcs.js
  pkg/server/ui/error.go
  pkg/server/ui/home.go
  pkg/server/ui/run.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/base.html
  pkg/server/ui/templates/error.html
  pkg/server/ui/templates/home.html
  pkg/server/ui/templates/run-get.html
  pkg/server/ui/templates/run-list.html
  pkg/server/ui/ui.go
  pkg/worker/client/openapi.gen.go
Due: json-schema, openapi-generate

enhance pagination options in api
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/work.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/sync_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/listoptions.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

add pagination template
  pkg/server/ui/http.go
  pkg/server/ui/run.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/base.html
  pkg/server/ui/templates/run-get.html
  pkg/server/ui/templates/run-list.html
Due: none

feat(server): Add pagination to UI (#125)
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/work.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/sync_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/listoptions.go
  pkg/server/service/workerservice.go
  pkg/server/ui/http.go
  pkg/server/ui/run.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/base.html
  pkg/server/ui/templates/run-get.html
  pkg/server/ui/templates/run-list.html
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

feat(server): Add cache headers to static assets of UI
  pkg/server/ui/assets.go
  pkg/server/ui/ui.go
Due: none

fix(server): Next run not scheduled if PR is open
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
Due: none

feat(server): Add filters to list of runs
  pkg/server/ui/run.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/base.html
  pkg/server/ui/templates/run-list.html
  pkg/server/ui/ui.go
Due: none

task list view
  pkg/server/ui/tasks.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/task-list.html
  pkg/server/ui/ui.go
Due: none

task get file view
  pkg/server/ui/tasks.go
  pkg/server/ui/templates/task-get-file.html
  pkg/server/ui/ui.go
Due: none

task list results view
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/db/model.go
  pkg/server/service/taskservice.go
  pkg/server/service/workerservice.go
  pkg/server/ui/error.go
  pkg/server/ui/tasks.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/error.html
  pkg/server/ui/templates/task-get-file.html
  pkg/server/ui/templates/task-get-results.html
  pkg/server/ui/templates/task-list.html
  pkg/server/ui/ui.go
  pkg/worker/client/openapi.gen.go
  pkg/worker/worker.go
Due: openapi-generate

list tasks on home view
  pkg/server/ui/home.go
  pkg/server/ui/templates/home.html
Due: none

link to task in other views
  pkg/server/ui/templates/home.html
  pkg/server/ui/templates/run-get.html
  pkg/server/ui/templates/run-list.html
Due: none

render status field
  pkg/server/api/task.go
  pkg/server/db/model.go
  pkg/server/service/taskservice.go
  pkg/server/service/workerservice.go
  pkg/server/ui/error.go
  pkg/server/ui/home.go
  pkg/server/ui/run.go
  pkg/server/ui/tasks.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/home.html
Due: none

make task result table re-usable
  pkg/server/ui/tasks.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/task-get-results.html
  pkg/server/ui/templates/task-results-table.html
Due: none

rework rendering of result table
  pkg/server/api/task.go
  pkg/server/service/taskservice.go
  pkg/server/service/workerservice.go
  pkg/server/ui/error.go
  pkg/server/ui/run.go
  pkg/server/ui/tasks.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/run-get.html
  pkg/server/ui/templates/run-task-results.html
  pkg/server/ui/templates/task-results-table.html
  pkg/server/ui/ui.go
Due: none

filter by status
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/service/workerservice.go
  pkg/server/ui/run.go
  pkg/server/ui/tasks.go
  pkg/server/ui/templates.go
  pkg/server/ui/templates/run-get.html
  pkg/server/ui/templates/run-task-results.html
  pkg/server/ui/templates/task-get-file.html
  pkg/server/ui/templates/task-get-results.html
  pkg/server/ui/templates/task-results-table.html
  pkg/worker/client/openapi.gen.go
Due: openapi-generate
