Repository wndhydrnt/saturn-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate, completion

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
    - id: go-generate
      name: go generate
      files: ^.*\.schema\.json|pkg/server/api/openapi/openapi\.yaml|cmd/.*\.go$
      entry: go generate ./...
      language: system
      always_run: false
      pass_filenames: false
    - id: completion
      name: Generate completion scripts
      entry: make generate_completion
      language: system
      files: ^cmd/.*\.go$
      pass_filenames: false

feat(server): Re-organize OpenAPI spec
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/run.go
  pkg/server/api/work.go
  pkg/worker/client/openapi.gen.go
Due: go-generate

feat(server): Display the duration of a run on its detail page
  pkg/server/ui/templates.go
  pkg/server/ui/templates/runs_show.html
Due: none

fix(server): Remove "Delete run" button from run detail view
  pkg/server/ui/templates/runs_show.html
Due: none

chore: Fix some failing tests
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/sync_test.go
  pkg/server/integration/work_test.go
Due: none

feat(server): Format run data as a list in run detail view
  pkg/server/ui/templates/runs_show.html
Due: none

fix(server): Endpoint ListTaskRecentTaskResultsV1 does not account for run data
  pkg/server/integration/task_test.go
  pkg/server/service/taskservice.go
Due: none

extract run data from webhook
  docs/reference/task/index.md
  docs/reference/task/webhook.md
  docs/user_guides/webhook.md
  mkdocs.yml
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/integration_test.go
  pkg/server/service/webhook.go
  pkg/task/schema/schema.gen.go
  pkg/task/schema/task.schema.json
Due: go-generate

describe run data; add link
  docs/reference/task/webhook.md
  docs/user_guides/webhook.md
Due: none

feat(server): Extract run data from the payload of a webhook (#166)
  docs/reference/task/index.md
  docs/reference/task/webhook.md
  docs/user_guides/webhook.md
  mkdocs.yml
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/integration_test.go
  pkg/server/service/webhook.go
  pkg/task/schema/schema.gen.go
  pkg/task/schema/task.schema.json
Due: go-generate

chore(main): release 0.24.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

refactor(server): Align UI directory layout
  pkg/server/ui/assets/css/bootstrap-icons/v1.11.3/bootstrap-icons.min.css
  pkg/server/ui/assets/css/bootstrap-icons/v1.11.3/fonts/bootstrap-icons.woff
  pkg/server/ui/assets/css/bootstrap-icons/v1.11.3/fonts/bootstrap-icons.woff2
  pkg/server/ui/home.go
  pkg/server/ui/results_index.go
  pkg/server/ui/runs_index.go
  pkg/server/ui/runs_show.go
  pkg/server/ui/tasks_file_show.go
  pkg/server/ui/tasks_index.go
  pkg/server/ui/templates/base.html
  pkg/server/ui/templates/results_index.html
  pkg/server/ui/templates/results_table.html
  pkg/server/ui/templates/runs_index.html
  pkg/server/ui/templates/tasks_file_show.html
  pkg/server/ui/ui.go
Due: none

move package of openapi client
  go.mod
  pkg/client/generate.go
  pkg/client/openapi.gen.go
  pkg/worker/client/generate.go
  pkg/worker/http.go
  pkg/worker/worker.go
Due: none

move client creation to new package
  pkg/client/client.go
  pkg/worker/http.go
  pkg/worker/worker.go
Due: none

implement command
  cmd/root.go
  cmd/schedule.go
  pkg/command/schedule.go
  pkg/command/schedule_test.go
Due: go-generate, completion

force rebase
  pkg/processor/processor.go
  pkg/processor/processor_test.go
Due: none

fix(processor): Skip detectection of foreign commits if pull request isn't open (#167)
  pkg/processor/processor.go
  pkg/processor/processor_test.go
Due: none

add tests
  cmd/schedule.go
  pkg/command/schedule.go
  pkg/command/schedule_test.go
Due: go-generate, completion

add command docs
  docs/reference/commands/schedule.md
Due: none

update generated doc
  docs/reference/commands/schedule.md
Due: none

fix title
  docs/reference/commands/schedule.md
Due: none

optionally report results
  cmd/schedule.go
  docs/reference/commands/schedule.md
  pkg/command/schedule.go
  pkg/command/schedule_test.go
Due: go-generate, completion

use structs to pass parameters around
  cmd/schedule.go
  docs/reference/commands/schedule.md
  pkg/command/schedule.go
  pkg/command/schedule_test.go
Due: go-generate, completion

update examples
  cmd/schedule.go
  docs/reference/commands/schedule.md
Due: go-generate, completion

feat(server): Add command "schedule" (#168)
  cmd/root.go
  cmd/schedule.go
  docs/reference/commands/schedule.md
  go.mod
  pkg/client/client.go
  pkg/client/generate.go
  pkg/client/openapi.gen.go
  pkg/command/schedule.go
  pkg/command/schedule_test.go
  pkg/worker/client/generate.go
  pkg/worker/http.go
  pkg/worker/worker.go
Due: go-generate, completion

fix(build): Update git package to "1:2.39.5-0+deb12u2"
  Dockerfile
Due: none

chore(main): release 0.24.0 (#165)
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

feat(server): Export the size of the sqlite file as a metric
  docs/operation_guides/metrics.md
  pkg/server/metrics/metrics.go
  pkg/server/server.go
  pkg/server/service/dbinfo.go
Due: none

chore(main): release 0.25.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

add docker compose file
  Dockerfile
  deploy/docker-compose/docker-compose.yml
Due: none

fix(worker): Over-reporting of results if repository did not change
  pkg/worker/worker.go
Due: none

chore(main): release 0.25.0 (#169)
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate

implementation
  pkg/server/error/client.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/run_test.go
  pkg/server/integration/work_test.go
  pkg/task/task.go
Due: none

rework SetInputs logic
  pkg/processor/processor.go
  pkg/task/task.go
  pkg/task/task_test.go
Due: none

additional test
  pkg/task/task_test.go
Due: none

fix lint issue
  pkg/task/task_test.go
Due: none

feat(task): Keep run data that isn't defined in inputs (#171)
  pkg/processor/processor.go
  pkg/task/task.go
  pkg/task/task_test.go
Due: none

chore(main): release 0.26.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
  pkg/server/api/openapi/openapi.yaml
Due: go-generate
