Repository wndhydrnt/saturn-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdox, json-schema, openapi-generate, completion

mdox:
  name: Check command documentation
  entry: make mdox
  language: system
  pass_filenames: false

json-schema:
  name: Generate JSON schemas
  entry: make generate_go
  language: system
  always_run: false
  pass_filenames: false

openapi-generate:
  name: OpenAPI
  entry: make generate_openapi
  language: system
  always_run: false
  pass_filenames: false

completion:
  name: Generate completion scripts
  entry: make generate_completion
  language: system
  pass_filenames: false

feat(server/ui): Render details and results of a run on one page (#141)
  pkg/server/ui/run.go
  pkg/server/ui/task.go
  pkg/server/ui/templates/base.html
  pkg/server/ui/templates/run-get.html
  pkg/server/ui/templates/run-task-results-list.html
  pkg/server/ui/templates/task-results-table.html
  pkg/server/ui/ui.go
Due: none

chore(main): release 0.19.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

chore(main): release 0.19.0 (#139)
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

ci: Upload compressed files to a GitHub release
  .github/workflows/release-binaries.yaml
  Makefile
Due: none

display recent results of a task
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/integration/task_test.go
  pkg/server/service/taskservice.go
  pkg/server/ui/task.go
  pkg/server/ui/templates/task-results-table.html
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

feat(server/ui): Display the recent results of a task on detail page (#142)
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/task.go
  pkg/server/integration/task_test.go
  pkg/server/service/taskservice.go
  pkg/server/ui/task.go
  pkg/server/ui/templates/task-results-table.html
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

feat(server/ui): Display total number of items below tables
  pkg/server/ui/templates/run-list.html
  pkg/server/ui/templates/task-results-table.html
Due: none

schedule only on trigger
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/work.go
  pkg/server/db/model.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/integration_test.go
  pkg/server/integration/run_test.go
  pkg/server/integration/sync_test.go
  pkg/server/integration/task_test.go
  pkg/server/integration/taskresult_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/sync.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

add deprecation hint
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

use variable
  pkg/server/service/workerservice.go
Due: none

add code comment
  pkg/server/service/workerservice.go
Due: none

feat(server): Auto-schedule task only if it defines a cron trigger (#144)
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/api/work.go
  pkg/server/db/model.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
  pkg/server/integration/integration_test.go
  pkg/server/integration/run_test.go
  pkg/server/integration/sync_test.go
  pkg/server/integration/task_test.go
  pkg/server/integration/taskresult_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/sync.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
Due: openapi-generate

report merges not done by saturn-bot
  pkg/host/github.go
  pkg/host/gitlab.go
  pkg/host/host.go
  pkg/processor/processor.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/db/model.go
  pkg/server/integration/task_test.go
  pkg/server/integration/taskresult_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
  pkg/worker/worker.go
Due: openapi-generate

add doc comment
  pkg/host/host.go
Due: none

schedule earlier when auto-merge is on
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
Due: none

feat(sever): Send state of pull request to server (#145)
  pkg/host/github.go
  pkg/host/gitlab.go
  pkg/host/host.go
  pkg/processor/processor.go
  pkg/server/api/openapi/openapi.yaml
  pkg/server/api/openapi/server.gen.go
  pkg/server/db/model.go
  pkg/server/integration/task_test.go
  pkg/server/integration/taskresult_test.go
  pkg/server/integration/work_test.go
  pkg/server/service/workerservice.go
  pkg/worker/client/openapi.gen.go
  pkg/worker/worker.go
Due: openapi-generate

fix(server): Schedule new run when task defines a cron trigger
  pkg/server/integration/sync_test.go
  pkg/server/service/sync.go
Due: none

fix(host): Use merged_at attribute to check if a GitHub PR has been merged
  pkg/host/github.go
  pkg/host/github_test.go
  pkg/processor/processor.go
  pkg/server/service/workerservice.go
Due: none

fix(host): Detect merge method of a GitHub repository
  go.mod
  go.sum
  pkg/host/github.go
  pkg/host/github_test.go
  pkg/server/api/github.go
  pkg/server/integration/github_test.go
  pkg/server/integration/gitlab_test.go
Due: none

chore: Remove usage off deprecated funcs
  pkg/host/github.go
  pkg/host/github_test.go
Due: none

chore: Remove usage off deprecated funcs
  pkg/host/github_test.go
Due: none

feat(host): Handle secondary rate limit of GitHub API
  go.mod
  go.sum
  pkg/host/github.go
Due: none

feat(server/ui): Make name of task a link
  pkg/server/ui/templates/home.html
  pkg/server/ui/templates/task-list.html
Due: none

add pprof endpoints
  go.mod
  pkg/config/config.schema.json
  pkg/config/schema.go
  pkg/server/server.go
  pkg/worker/http.go
  pkg/worker/worker.go
Due: json-schema

better desc
  pkg/config/config.schema.json
  pkg/config/schema.go
Due: json-schema

update configuration docs
  docs/configuration.md
Due: none

feat: Add pprof endpoints for server and worker (#146)
  docs/configuration.md
  go.mod
  pkg/config/config.schema.json
  pkg/config/schema.go
  pkg/server/server.go
  pkg/worker/http.go
  pkg/worker/worker.go
Due: json-schema

rename genrated code file
  pkg/task/schema/schema.gen.go
Due: none

use dedicated tools module
  .github/workflows/go-generate.yaml
  .pre-commit-config.yaml
  Makefile
  generate.go
  go.mod
  go.sum
  pkg/server/api/openapi/generate.go
  pkg/task/schema/generate.go
  pkg/task/schema/schema.gen.go
  pkg/task/task.go
  pkg/worker/client/generate.go
  test/mock/git/generate.go
  test/mock/git/git.gen.go
  test/mock/host/generate.go
  test/mock/host/host.gen.go
  test/mock/plugin/generate.go
  test/mock/plugin/plugin.gen.go
  test/mock/processor/generate.go
  test/mock/processor/processor.gen.go
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: none

fix actions
  .github/workflows/docs-check.yaml
  .github/workflows/go-generate.yaml
Due: none

refactor config gen
  pkg/config/config.go
  pkg/config/generate.go
  pkg/config/schema.gen.go
Due: none

use global host mock
  pkg/filter/filter_test.go
  pkg/filter/gitlabcodesearch_test.go
  pkg/filter/hostmock_test.go
Due: none

fix stringer
  pkg/processor/processor.go
  tools/go.mod
  tools/tools.go
Due: none

update contributing guidelines
  CONTRIBUTING.md
Due: none

generate completion scripts
  .pre-commit-config.yaml
  Makefile
  cmd/generate.go
Due: mdox, completion

mark generated files
  .gitattributes
Due: none

refactor: Use dedicated tools module for code generation (#147)
  .gitattributes
  .github/workflows/docs-check.yaml
  .github/workflows/go-generate.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  cmd/generate.go
  generate.go
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/generate.go
  pkg/config/schema.gen.go
  pkg/filter/filter_test.go
  pkg/filter/gitlabcodesearch_test.go
  pkg/filter/hostmock_test.go
  pkg/processor/processor.go
  pkg/server/api/openapi/generate.go
  pkg/task/schema/generate.go
  pkg/task/schema/schema.gen.go
  pkg/task/task.go
  pkg/worker/client/generate.go
  test/mock/git/generate.go
  test/mock/git/git.gen.go
  test/mock/host/generate.go
  test/mock/host/host.gen.go
  test/mock/plugin/generate.go
  test/mock/plugin/plugin.gen.go
  test/mock/processor/generate.go
  test/mock/processor/processor.gen.go
  tools.go
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: mdox, completion

chore(main): release 0.20.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/installation.md
Due: none

update schema
  pkg/task/schema/task.schema.json
Due: json-schema

ensure input task
  pkg/server/integration/sync_test.go
Due: none

Path conditions:
  mdox: any of: ^cmd/.*\.go$
  json-schema: any of: ^.*\.schema\.json$
  openapi-generate: any of: ^pkg/server/api/openapi/openapi\.yaml$
  completion: any of: ^cmd/.*\.go$
